
blueprints
tts
__pycache__
.*
!.HA_VERSION
!.gitignore
!/.github
blueprints
deps
addons_autoscripts
custom_components

google_calendars.yaml
known_devices.yaml
secrets.yaml

www/Plex_Recently_Added/*
www/fonts
www/google_home_tracker/grpcurl
www/sound
www/community

custom_components/archive

myelectricaldata/config.yaml

home-assistant.code-workspace
home-assistant.log*
*.db*

vacuum_last_cleaned.txt
