
blueprints
tts
__pycache__
.*
!.HA_VERSION
!.gitignore

google_calendars.yaml
known_devices.yaml
secrets.yaml

www/Plex_Recently_Added/*
www/fonts
www/google_home_tracker

custom_components/archive

home-assistant.code-workspace
home-assistant.log*
home-assistant_2.db*

vacuum_last_cleaned.txt
